<h1>Editing name_card</h1>

<%= render 'form' %>

<%= link_to 'Show', company_group_user_name_card_path(@company, @group, @user, @name_card) %> |
<%= link_to 'Back', company_group_user_name_cards_path %>
